/.idea

/Classloading/target

/Functionality/target

/GC/target/

*.iml

/concurrency-bank-client/target
/concurrency-data-service/target

client
/spring/task1/.idea
/project-management/.idea
/spring/task2-annotation/.idea
/spring/task2-annotation/target/
